* {
    margin: 0;
    padding: 0;
}
:root {
    --red: rgb(95, 4, 4);
    --white: antiquewhite;
    --border: white;
    --backGround: rgba(253, 239, 221, 0.719);
    --opacity: 80%;
}


body {
    background-image: url(the-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

header {
    padding: 20px;
    background-color: var(--backGround);
    border-radius: 0 0 25px 25px;
    box-shadow: 5px 10px var(--red);
    border: 5px solid var(--border);
    margin-bottom: 30px;
    

}

h1 {
    text-align: center;
    color: var(--red);
    font-size: 50px;
    
}

h2 {
    visibility: visible;
    text-align: center;
    color: var(--red);
    font-size: 30px;
    text-decoration: underline;
    cursor: help;
}

p {
   /*  visibility: hidden;*/
    text-align: center;
    color: var(--red);
    font-size: 20px;
    margin-top: 10px;

}
/* #Book-One:hover{
    visibility: visible;
}*/
a {
    color: var(--red);
    font-size: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 1%;
    height: fit-content;
    width: 60%;
    margin: 40px auto;
    border: 5px solid var(--border);
    box-shadow: 5px 10px var(--red);
    background-color: var(--backGround);
    /* transform: rotate(2deg);
*/    border-radius: 20px;

}

.card:hover {
    transform: scale(1.1);
    transition: ease-in-out .75s;
}

.charecters, img{
    margin: auto;
    height: 300px;
    width: 200px;
    opacity: 50%;
    display: flex;
    justify-content: center;
    border: 5px solid var(--red);
    border-radius: 10px;
}


.right, img{
    display: flex;
    justify-content: center;


}


footer {
    padding: 20px;
    background-color: var(--backGround);
    border-radius: 25px 25px 0 0 ;
/*  box-shadow: 5px 10px var(--red); */
    border: 5px solid var(--border);
}
.footerLinks {
    color: var(--red);
    text-align: center;

}
.copyright {
    color: var(--white);
}


@media screen and(max-width: 768px) {
 body, 
 .card,
 header,
 .footerLinks,
 p,
 #Book-One,
 #Book-Two,
 #book-Three,
 .left,
 .right
 {  
    text-justify: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
 }
    
}